{{#BEFORE_ITEM}}
<div class="ft-field-container #ITEM_CSS_CLASSES#" id="#CURRENT_ITEM_CONTAINER_ID#">
{{/BEFORE_ITEM}}
{{#TEMPLATE_BODY1}}
<label for="#CURRENT_ITEM_NAME#" id="#LABEL_ID#" data-help="#HELP_TEMPLATE#">
{{/TEMPLATE_BODY1}}
{{#TEMPLATE_BODY2}}
</label>
{{/TEMPLATE_BODY2}}
{{#ITEM_PRE_TEXT}}{{/ITEM_PRE_TEXT}}
{{#BEFORE_ELEMENT}}
<div class="">
{{/BEFORE_ELEMENT}}
{{#AFTER_ELEMENT}}
</div>
{{/AFTER_ELEMENT}}
{{#ITEM_POST_TEXT}}{{/ITEM_POST_TEXT}}
{{#AFTER_ITEM}}
</div>

{{/AFTER_ITEM}}

{{#ON_ERROR_BEFORE_LABEL}}{{/ON_ERROR_BEFORE_LABEL}}
{{#ON_ERROR_AFTER_LABEL}}{{/ON_ERROR_AFTER_LABEL}}
{{#ERROR_TEMPLATE}}
<span class="ft-field-error">#ERROR_MESSAGE#</span>
{{/ERROR_TEMPLATE}}
{{#HELP_LINK}}
#CURRENT_ITEM_HELP_TEXT#
{{/HELP_LINK}}
{{#INLINE_HELP_TEXT}}{{/INLINE_HELP_TEXT}}

{{#TEMPLATE_OPTION_GROUPS}}
[]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[
  {
    "NAME": "FIELD_LEAD",
    "DISPLAY_NAME": "Stand out",
    "DISPLAY_SEQUENCE": 10,
    "CSS_CLASSES": "lead",
    "HELP_TEXT": "Make a field stand out.",
    "IS_ADVANCED": "N"
  }
]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
