{{#inline_css}}
{{/inline_css}}
{{#header_template}}
<!DOCTYPE html>
<html>
    <head>
        <title>#TITLE#</title>
        #FAVICONS#

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="author" content="Vincent Morneau">
        <meta name="description" content="Bootstrap 4 APEX Theme">

        <!-- Mandatory APEX CSS -->
        #HEAD#
        #APEX_CSS#

        <!-- Your CSS -->
        #THEME_CSS#
        #THEME_STYLE_CSS#
        #TEMPLATE_CSS#
        #APPLICATION_CSS#

        <!-- Additionnal CSS -->
        #PAGE_CSS#
    </head>
    <body id="#PAGE_STATIC_ID#" class="#PAGE_CSS_CLASSES#" #ONLOAD#>
{{/header_template}}

{{#box}}
#FORM_OPEN#

<div class="ab-header">
    <!-- Item Container -->
    #REGION_POSITION_01#

    <a class="navbar-brand hidden-xs-up" href="#HOME_LINK#">#LOGO#</a>
    #NAVIGATION_BAR#

    #TOP_GLOBAL_NAVIGATION_LIST#
    #SIDE_GLOBAL_NAVIGATION_LIST#

    <!-- Header -->
    #REGION_POSITION_02#
</div>

<!-- Main Content -->
<div class="ab-main">
    <!-- Breadcrumbs -->
    #REGION_POSITION_03#
    <!-- Messages -->
    #GLOBAL_NOTIFICATION#
    #SUCCESS_MESSAGE#
    #NOTIFICATION_MESSAGE#

    #BODY#
</div>

<!-- Footer -->
<footer class="ab-footer bg-faded m-t-3">
    #REGION_POSITION_08#
</footer>

#FORM_CLOSE#
{{/box}}

{{#footer_template}}
<!-- Mandatory APEX Javascript -->
#DEVELOPER_TOOLBAR#
#APEX_JAVASCRIPT#

<!-- Your Javascript -->
#THEME_JAVASCRIPT#
#TEMPLATE_JAVASCRIPT#
#APPLICATION_JAVASCRIPT#

<!-- Additionnal Javascript -->
#PAGE_JAVASCRIPT#

<!-- Generated Code -->
#GENERATED_CSS#
#GENERATED_JAVASCRIPT#
</body>
</html>
{{/footer_template}}

{{#success_message}}
<div>#MESSAGE#</div>
{{/success_message}}
{{#message}}
<div>#MESSAGE#</div>
{{/message}}

{{#grid_template}}
<div class="container">#ROWS#</div>
{{/grid_template}}
{{#grid_row_template}}
<div class="row">#COLUMNS#</div>
{{/grid_row_template}}
{{#grid_column_template}}
<div class="col-xs-12 col-md-#COLUMN_SPAN_NUMBER# #CSS_CLASSES#" #ATTRIBUTES#>#CONTENT#</div>
{{/grid_column_template}}
