{{#JAVASCRIPT_FILE_URLS}}{{/JAVASCRIPT_FILE_URLS}}
{{#JAVASCRIPT_CODE}}{{/JAVASCRIPT_CODE}}
{{#JAVASCRIPT_CODE_ONLOAD}}
ft.theme.ready();
{{/JAVASCRIPT_CODE_ONLOAD}}
{{#CSS_FILE_URLS}}{{/CSS_FILE_URLS}}
{{#INLINE_CSS}}{{/INLINE_CSS}}

{{#HEADER_TEMPLATE}}
<!doctype html>
<html class="no-js #RTL_CLASS# page-&APP_PAGE_ID. app-&APP_ALIAS." lang="&BROWSER_LANGUAGE." #TEXT_DIRECTION#>
  <head>
    <title>#TITLE#</title>
    #FAVICONS#
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    #HEAD#
    #APEX_CSS#
    #THEME_CSS#
    #THEME_STYLE_CSS#
    #TEMPLATE_CSS#
    #APPLICATION_CSS#
    #PAGE_CSS#
  </head>
  <body id="#PAGE_STATIC_ID#" class="ft-left-right-template #PAGE_CSS_CLASSES#" #TEXT_DIRECTION# #ONLOAD#>
{{/HEADER_TEMPLATE}}
{{#BOX}}
#FORM_OPEN#

<header class="ft-header">
  <nav class="ft-navbar navbar d-flex flex-column flex-md-row border-bottom">
    <button type="button" class="ft-main-left-toggle btn btn-light rounded-0 order-0" data-toggle="ft-main-left">
      <span class="fa fa-layout-nav-left" aria-hidden="true"></span>
    </button>
    #TOP_GLOBAL_NAVIGATION_LIST#
		<a class="navbar-brand order-1 order-lg-0" href="#HOME_LINK#">#LOGO#</a>
    <nav class="navbar-expand flex-row d-flex ml-md-auto order-3 order-lg-2">
      #NAVIGATION_BAR#
	    <button type="button" class="ft-main-right-toggle btn btn-light rounded-0 order-4" data-toggle="ft-main-right">
	      <span class="fa fa-layout-nav-right" aria-hidden="true"></span>
	    </button>
    </nav>
  </nav>
</header>

<main class="ft-main">
  <div class="ft-main-header">#REGION_POSITION_02#</div>

  <div class="ft-main-left open border-right py-3 col">
    <div class="ft-main-left-container">#SIDE_GLOBAL_NAVIGATION_LIST##REGION_POSITION_03#</div>
  </div>

  <div class="ft-main-center ft-main-left-open ft-main-right-open">
    <div class="ft-breadcrumb">#REGION_POSITION_04#</div>
    <div class="ft-main-center-container">
      <div class="ft-body">
        <div class="ft-messages">#GLOBAL_NOTIFICATION##SUCCESS_MESSAGE##NOTIFICATION_MESSAGE#</div>
        #BODY#
      </div>
    </div>

    <footer class="ft-footer border-top">
      <div class="ft-footer-top py-5">
        <div class="ft-footer-container">#REGION_POSITION_08#</div>
      </div>

      <div class="ft-footer-bottom py-2">
        <div class="ft-footer-container d-flex">
          <span class="version align-self-center">#APP_VERSION#</span>
          <span class="customize align-self-center">#CUSTOMIZE#</span>
          <span class="screenreader align-self-center">#SCREEN_READER_TOGGLE#</span>
          <a href="#" class="btn btn-sm btn-outline-secondary ml-auto" id="t_Footer_topButton"><span class="a-Icon icon-up-chevron"></span></a>
        </div>
      </div>
    </footer>
  </div>

  <div class="ft-main-right open border-left py-3 col">
    <div class="ft-main-right-container">#REGION_POSITION_05#</div>
</main>

#FORM_CLOSE#
{{/BOX}}
{{#FOOTER_TEMPLATE}}
#DEVELOPER_TOOLBAR#
#APEX_JAVASCRIPT#
#GENERATED_CSS#
#THEME_JAVASCRIPT#
#TEMPLATE_JAVASCRIPT#
#APPLICATION_JAVASCRIPT#
#PAGE_JAVASCRIPT#
#GENERATED_JAVASCRIPT#
</body>
</html>
{{/FOOTER_TEMPLATE}}

{{#SUCCESS_MESSAGE}}
TODO
SUCCESS_MESSAGE
CLOSE_NOTIFICATION
{{/SUCCESS_MESSAGE}}
{{#MESSAGE}}
TODO
MESSAGE
CLOSE_NOTIFICATION
{{/MESSAGE}}

{{#GRID_TEMPLATE}}
<div class="ft-container">#ROWS#</div>
{{/GRID_TEMPLATE}}
{{#GRID_ROW_TEMPLATE}}
<div class="row">#COLUMNS#</div>
{{/GRID_ROW_TEMPLATE}}
{{#GRID_COLUMN_TEMPLATE}}
<div class="col-12 col-md-#COLUMN_SPAN_NUMBER# #CSS_CLASSES#" #ATTRIBUTES#>#CONTENT#</div>
{{/GRID_COLUMN_TEMPLATE}}

{{#DIALOG_BROWSER_FRAME}}
MODAL
{{/DIALOG_BROWSER_FRAME}}
{{#DIALOG_CSS_CLASSES}}{{/DIALOG_CSS_CLASSES}}
{{#DIALOG_HEIGHT}}{{/DIALOG_HEIGHT}}
{{#DIALOG_JS_CANCEL_CODE}}
apex.navigation.dialog.cancel(#IS_MODAL#);
{{/DIALOG_JS_CANCEL_CODE}}
{{#DIALOG_JS_CLOSE_CODE}}
apex.navigation.dialog.close(#IS_MODAL#,#TARGET#);
{{/DIALOG_JS_CLOSE_CODE}}
{{#DIALOG_JS_INIT_CODE}}
apex.navigation.dialog(#PAGE_URL#,{title:#TITLE#,height:#DIALOG_HEIGHT#,width:#DIALOG_WIDTH#,maxWidth:#DIALOG_MAX_WIDTH#,modal:#IS_MODAL#,dialog:#DIALOG#,#DIALOG_ATTRIBUTES#},#DIALOG_CSS_CLASSES#,#TRIGGERING_ELEMENT#);
{{/DIALOG_JS_INIT_CODE}}
{{#DIALOG_MAX_WIDTH}}{{/DIALOG_MAX_WIDTH}}
{{#DIALOG_WIDTH}}{{/DIALOG_WIDTH}}

{{#TEMPLATE_OPTION_GROUPS}}
[
  {
    "NAME": "PAGE_BODY_CONTAINER",
    "DISPLAY_NAME": "Page Container",
    "DISPLAY_SEQUENCE": 1,
    "HELP_TEXT": "Containers provide a means to center and horizontally pad your site’s contents",
    "NULL_TEXT": "",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "PAGE_BODY_CONTAINER_DEFAULT",
        "DISPLAY_NAME": "Default",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "ft-page-body-container",
        "HELP_TEXT": ""
      },
      {
        "NAME": "PAGE_BODY_CONTAINER_FLUID",
        "DISPLAY_NAME": "Full Width",
        "DISPLAY_SEQUENCE": 2,
        "CSS_CLASSES": "ft-page-body-container-fluid",
        "HELP_TEXT": ""
      },
      {
        "NAME": "PAGE_BODY_CONTAINER_NONE",
        "DISPLAY_NAME": "No Container",
        "DISPLAY_SEQUENCE": 3,
        "CSS_CLASSES": "ft-page-body-container-none",
        "HELP_TEXT": ""
      }
    ]
  },
  {
    "NAME": "PAGE_FOOTER_CONTAINER",
    "DISPLAY_NAME": "Footer Container",
    "DISPLAY_SEQUENCE": 1,
    "HELP_TEXT": "Containers provide a means to center and horizontally pad your site’s contents",
    "NULL_TEXT": "",
    "IS_ADVANCED": "Y",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "PAGE_FOOTER_CONTAINER_DEFAULT",
        "DISPLAY_NAME": "Default",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "ft-page-footer-container",
        "HELP_TEXT": ""
      },
      {
        "NAME": "PAGE_FOOTER_CONTAINER_FLUID",
        "DISPLAY_NAME": "Full Width",
        "DISPLAY_SEQUENCE": 2,
        "CSS_CLASSES": "ft-page-footer-container-fluid",
        "HELP_TEXT": ""
      },
      {
        "NAME": "PAGE_FOOTER_CONTAINER_NONE",
        "DISPLAY_NAME": "No Container",
        "DISPLAY_SEQUENCE": 3,
        "CSS_CLASSES": "ft-page-footer-container-none",
        "HELP_TEXT": ""
      }
    ]
  },
  {
    "NAME": "NAVBAR_PLACEMENT",
    "DISPLAY_NAME": "Navigation Bar Placement",
    "DISPLAY_SEQUENCE": 2,
    "HELP_TEXT": "",
    "NULL_TEXT": "Default",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "NAVBAR_PLACEMENT_FIXED_BOTTOM",
        "DISPLAY_NAME": "Fixed Bottom",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "ft-navbar-fixed-bottom",
        "HELP_TEXT": ""
      },
      {
        "NAME": "NAVBAR_PLACEMENT_FIXED_TOP",
        "DISPLAY_NAME": "Fixed Top",
        "DISPLAY_SEQUENCE": 2,
        "CSS_CLASSES": "ft-navbar-fixed-top",
        "HELP_TEXT": ""
      }
    ]
  }
]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}
ft-page-body-container:ft-page-footer-container
{{/PRESET_TEMPLATE_OPTIONS}}
