{{#JAVASCRIPT_FILE_URLS}}{{/JAVASCRIPT_FILE_URLS}}
{{#JAVASCRIPT_CODE}}{{/JAVASCRIPT_CODE}}
{{#JAVASCRIPT_CODE_ONLOAD}}{{/JAVASCRIPT_CODE_ONLOAD}}
{{#CSS_FILE_URLS}}{{/CSS_FILE_URLS}}
{{#INLINE_CSS}}{{/INLINE_CSS}}

{{#HEADER_TEMPLATE}}
<!DOCTYPE html>
<html>
    <head>
        <title>#TITLE#</title>
        #FAVICONS#

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="author" content="Vincent Morneau">
        <meta name="description" content="Bootstrap 4 APEX Theme">

        <!-- Mandatory APEX CSS -->
        #HEAD#
        #APEX_CSS#

        <!-- Your CSS -->
        #THEME_CSS#
        #THEME_STYLE_CSS#
        #TEMPLATE_CSS#
        #APPLICATION_CSS#

        <!-- Additionnal CSS -->
        #PAGE_CSS#
    </head>
    <body id="#PAGE_STATIC_ID#" class="#PAGE_CSS_CLASSES#" #ONLOAD#>
{{/HEADER_TEMPLATE}}
{{#BOX}}
#FORM_OPEN#

<!-- Item Container -->
#REGION_POSITION_01#

<div class="#PAGE_CSS_CLASSES#">
    <div class="modal-body">
        #SUCCESS_MESSAGE#
        #NOTIFICATION_MESSAGE#
        #BODY#
    </div>
    <div class="modal-footer">
        #REGION_POSITION_08#
    </div>
</div>

#FORM_CLOSE#
{{/BOX}}
{{#FOOTER_TEMPLATE}}
<!-- Mandatory APEX Javascript -->
#DEVELOPER_TOOLBAR#
#APEX_JAVASCRIPT#

<!-- Your Javascript -->
#THEME_JAVASCRIPT#
#TEMPLATE_JAVASCRIPT#
#APPLICATION_JAVASCRIPT#

<!-- Additionnal Javascript -->
#PAGE_JAVASCRIPT#

<!-- Generated Code -->
#GENERATED_CSS#
#GENERATED_JAVASCRIPT#
</body>
</html>
{{/FOOTER_TEMPLATE}}

{{#SUCCESS_MESSAGE}}
<div>#MESSAGE#</div>
{{/SUCCESS_MESSAGE}}
{{#MESSAGE}}
<div>#MESSAGE#</div>
{{/MESSAGE}}

{{#GRID_TEMPLATE}}
<div class="container">#ROWS#</div>
{{/GRID_TEMPLATE}}
{{#GRID_ROW_TEMPLATE}}
<div class="row">#COLUMNS#</div>
{{/GRID_ROW_TEMPLATE}}
{{#GRID_COLUMN_TEMPLATE}}
<div class="col-xs-12 col-md-#COLUMN_SPAN_NUMBER# #CSS_CLASSES#" #ATTRIBUTES#>#CONTENT#</div>
{{/GRID_COLUMN_TEMPLATE}}

{{#DIALOG_BROWSER_FRAME}}
MODAL
{{/DIALOG_BROWSER_FRAME}}
{{#DIALOG_CSS_CLASSES}}{{/DIALOG_CSS_CLASSES}}
{{#DIALOG_HEIGHT}}{{/DIALOG_HEIGHT}}
{{#DIALOG_JS_CANCEL_CODE}}
apex.navigation.dialog.cancel(#IS_MODAL#);
{{/DIALOG_JS_CANCEL_CODE}}
{{#DIALOG_JS_CLOSE_CODE}}
apex.navigation.dialog.close(#IS_MODAL#,#TARGET#);
{{/DIALOG_JS_CLOSE_CODE}}
{{#DIALOG_JS_INIT_CODE}}
apex.navigation.dialog(#PAGE_URL#,{title:#TITLE#,height:#DIALOG_HEIGHT#,width:#DIALOG_WIDTH#,maxWidth:#DIALOG_MAX_WIDTH#,modal:#IS_MODAL#,dialog:#DIALOG#,#DIALOG_ATTRIBUTES#},#DIALOG_CSS_CLASSES#,#TRIGGERING_ELEMENT#);
{{/DIALOG_JS_INIT_CODE}}
{{#DIALOG_MAX_WIDTH}}{{/DIALOG_MAX_WIDTH}}
{{#DIALOG_WIDTH}}{{/DIALOG_WIDTH}}

{{#TEMPLATE_OPTION_GROUPS}}
[]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
