{{#JAVASCRIPT_FILE_URLS}}{{/JAVASCRIPT_FILE_URLS}}
{{#JAVASCRIPT_CODE}}{{/JAVASCRIPT_CODE}}
{{#JAVASCRIPT_CODE_ONLOAD}}{{/JAVASCRIPT_CODE_ONLOAD}}
{{#CSS_FILE_URLS}}{{/CSS_FILE_URLS}}
{{#INLINE_CSS}}{{/INLINE_CSS}}

{{#HEADER_TEMPLATE}}
<!doctype html>
<html class="no-js #RTL_CLASS# page-&APP_PAGE_ID. app-&APP_ALIAS." lang="&BROWSER_LANGUAGE." #TEXT_DIRECTION#>
	<head>
		<title>#TITLE#</title>
		#FAVICONS#
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		#HEAD#
		#APEX_CSS#
		#THEME_CSS#
		#THEME_STYLE_CSS#
		#TEMPLATE_CSS#
		#APPLICATION_CSS#
		#PAGE_CSS#
	</head>
	<body id="#PAGE_STATIC_ID#" class="#PAGE_CSS_CLASSES#" #TEXT_DIRECTION# #ONLOAD#>
{{/HEADER_TEMPLATE}}
{{#BOX}}
#FORM_OPEN#

<!-- <input type="hidden" data-bind="init, value: homeLink" value="#HOME_LINK#"/>
<input type="hidden" data-bind="init, value: appName" value="#LOGO#"/> -->

<!-- Item Container -->
#REGION_POSITION_01#

<header class="ft-header">
	<nav class="ft-navbar navbar d-flex flex-column flex-md-row">
		#TOP_GLOBAL_NAVIGATION_LIST#
		<a class="navbar-brand order-1 order-lg-0" href="#HOME_LINK#">#LOGO#</a>
		#NAVIGATION_BAR#
	</nav>
	<!-- Header -->
	#REGION_POSITION_02#
</header>

<div class="container-fluid">
	<div class="row">
		<div class="ft-main-left col-md-2">#SIDE_GLOBAL_NAVIGATION_LIST##REGION_POSITION_03#</div>

		<main class="ft-main col">
			<div class="ft-breadcrumb">#REGION_POSITION_04#</div>
			<div class="ft-messages">#GLOBAL_NOTIFICATION##SUCCESS_MESSAGE##NOTIFICATION_MESSAGE#</div>
			<div class="ft-body">#BODY#</div>
		</main>

		<div class="ft-main-right col-md-2">#REGION_POSITION_05#</div>
	</div>
</div>

<footer class="ft-footer">
	<div class="ft-footer-top">#REGION_POSITION_08#</div>

	<div class="ft-footer-bottom d-flex flex-row justify-content-between">
		<div class="version">#APP_VERSION#</div>
		<div class="customize right">#CUSTOMIZE#</div>
		<div class="screenreader right">#SCREEN_READER_TOGGLE#</div>
	</div>
</footer>

#FORM_CLOSE#
{{/BOX}}
{{#FOOTER_TEMPLATE}}
#DEVELOPER_TOOLBAR#
#APEX_JAVASCRIPT#
#GENERATED_CSS#
#THEME_JAVASCRIPT#
#TEMPLATE_JAVASCRIPT#
#APPLICATION_JAVASCRIPT#
#PAGE_JAVASCRIPT#
#GENERATED_JAVASCRIPT#
</body>
</html>
{{/FOOTER_TEMPLATE}}

{{#SUCCESS_MESSAGE}}
TODO
SUCCESS_MESSAGE
CLOSE_NOTIFICATION
{{/SUCCESS_MESSAGE}}
{{#MESSAGE}}
TODO
MESSAGE
CLOSE_NOTIFICATION
{{/MESSAGE}}

{{#GRID_TEMPLATE}}
<div class="ft-container">#ROWS#</div>
{{/GRID_TEMPLATE}}
{{#GRID_ROW_TEMPLATE}}
<div class="row">#COLUMNS#</div>
{{/GRID_ROW_TEMPLATE}}
{{#GRID_COLUMN_TEMPLATE}}
<div class="col-12 col-md-#COLUMN_SPAN_NUMBER# #CSS_CLASSES#" #ATTRIBUTES#>#CONTENT#</div>
{{/GRID_COLUMN_TEMPLATE}}

{{#DIALOG_BROWSER_FRAME}}
MODAL
{{/DIALOG_BROWSER_FRAME}}
{{#DIALOG_CSS_CLASSES}}{{/DIALOG_CSS_CLASSES}}
{{#DIALOG_HEIGHT}}{{/DIALOG_HEIGHT}}
{{#DIALOG_JS_CANCEL_CODE}}
apex.navigation.dialog.cancel(#IS_MODAL#);
{{/DIALOG_JS_CANCEL_CODE}}
{{#DIALOG_JS_CLOSE_CODE}}
apex.navigation.dialog.close(#IS_MODAL#,#TARGET#);
{{/DIALOG_JS_CLOSE_CODE}}
{{#DIALOG_JS_INIT_CODE}}
apex.navigation.dialog(#PAGE_URL#,{title:#TITLE#,height:#DIALOG_HEIGHT#,width:#DIALOG_WIDTH#,maxWidth:#DIALOG_MAX_WIDTH#,modal:#IS_MODAL#,dialog:#DIALOG#,#DIALOG_ATTRIBUTES#},#DIALOG_CSS_CLASSES#,#TRIGGERING_ELEMENT#);
{{/DIALOG_JS_INIT_CODE}}
{{#DIALOG_MAX_WIDTH}}{{/DIALOG_MAX_WIDTH}}
{{#DIALOG_WIDTH}}{{/DIALOG_WIDTH}}

{{#TEMPLATE_OPTION_GROUPS}}
[
  {
    "NAME": "PAGE_BODY_CONTAINER",
    "DISPLAY_NAME": "Page Container",
    "DISPLAY_SEQUENCE": 1,
    "HELP_TEXT": "Containers provide a means to center and horizontally pad your site’s contents",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "PAGE_BODY_CONTAINER_DEFAULT",
        "DISPLAY_NAME": "Default",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "ft-page-body-container"
      },
      {
        "NAME": "PAGE_BODY_CONTAINER_FLUID",
        "DISPLAY_NAME": "Full Width",
        "DISPLAY_SEQUENCE": 2,
        "CSS_CLASSES": "ft-page-body-container-fluid"
      },
      {
        "NAME": "PAGE_BODY_CONTAINER_NONE",
        "DISPLAY_NAME": "No Container",
        "DISPLAY_SEQUENCE": 3,
        "CSS_CLASSES": "ft-page-body-container-none"
      }
    ]
  },
  {
    "NAME": "PAGE_FOOTER_CONTAINER",
    "DISPLAY_NAME": "Footer Container",
    "DISPLAY_SEQUENCE": 1,
    "HELP_TEXT": "Containers provide a means to center and horizontally pad your site’s contents",
    "IS_ADVANCED": "Y",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "PAGE_FOOTER_CONTAINER_DEFAULT",
        "DISPLAY_NAME": "Default",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "ft-page-footer-container"
      },
      {
        "NAME": "PAGE_FOOTER_CONTAINER_FLUID",
        "DISPLAY_NAME": "Full Width",
        "DISPLAY_SEQUENCE": 2,
        "CSS_CLASSES": "ft-page-footer-container-fluid"
      },
      {
        "NAME": "PAGE_FOOTER_CONTAINER_NONE",
        "DISPLAY_NAME": "No Container",
        "DISPLAY_SEQUENCE": 3,
        "CSS_CLASSES": "ft-page-footer-container-none"
      }
    ]
  },
  {
    "NAME": "NAVBAR_PLACEMENT",
    "DISPLAY_NAME": "Navigation Bar Placement",
    "DISPLAY_SEQUENCE": 2,
    "NULL_TEXT": "Default",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "NAVBAR_PLACEMENT_STICKY",
        "DISPLAY_NAME": "Sticky",
        "DISPLAY_SEQUENCE": 0,
        "CSS_CLASSES": "ft-navbar-sticky-top"
      },
      {
        "NAME": "NAVBAR_PLACEMENT_FIXED_BOTTOM",
        "DISPLAY_NAME": "Fixed Bottom",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "ft-navbar-fixed-bottom"
      },
      {
        "NAME": "NAVBAR_PLACEMENT_FIXED_TOP",
        "DISPLAY_NAME": "Fixed Top",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "ft-navbar-fixed-top"
      }
    ]
  }
]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}
ft-page-body-container:ft-page-footer-container-fluid
{{/PRESET_TEMPLATE_OPTIONS}}
