{{#javascript_file_urls}}

{{/javascript_file_urls}}
{{#javascript_code_onload}}

{{/javascript_code_onload}}
{{#css_file_urls}}

{{/css_file_urls}}
{{#inline_css}}

{{/inline_css}}

{{#list_template_before_rows}}
<div id="#LIST_ID#" class="list-group #COMPONENT_CSS_CLASSES#">

{{/list_template_before_rows}}
	{{#list_template_current}}
	    <a href="#LINK#" class="list-group-item list-group-item-#A02# active"><i class="#ICON_CSS_CLASSES#"></i>
        <span class="label label-#A04# label-pill pull-xs-right">#A03#</span>
        <h4 class="list-group-item-heading">#A01#</h4>
        <p class="list-group-item-text">#TEXT#</p>
    </a>

	{{/list_template_current}}
	{{#item_template_curr_w_child}}
	
	{{/item_template_curr_w_child}}
	{{#list_template_noncurrent}}
	    <a href="#LINK#" class="list-group-item list-group-item-#A02#"><i class="#ICON_CSS_CLASSES#"></i>
        <span class="label label-#A04# label-pill pull-xs-right">#A03#</span>
        <h4 class="list-group-item-heading">#A01#</h4>
        <p class="list-group-item-text">#TEXT#</p>
    </a>

	{{/list_template_noncurrent}}
	{{#item_template_noncurr_w_child}}
	
	{{/item_template_noncurr_w_child}}
	{{#between_items}}
	
	{{/between_items}}

	{{#before_sub_list}}
	
	{{/before_sub_list}}
		{{#sub_list_item_current}}
		
		{{/sub_list_item_current}}
		{{#sub_list_item_noncurrent}}
		
		{{/sub_list_item_noncurrent}}
		{{#sub_template_curr_w_child}}
		
		{{/sub_template_curr_w_child}}
		{{#sub_template_noncurr_w_child}}
		
		{{/sub_template_noncurr_w_child}}
		{{#between_sub_list_items}}
		
		{{/between_sub_list_items}}
	{{#after_sub_list}}
	
	{{/after_sub_list}}

	{{#first_list_template_noncurrent}}
	
	{{/first_list_template_noncurrent}}
	{{#first_list_template_current}}
	
	{{/first_list_template_current}}
	{{#f_item_template_curr_w_child}}
	
	{{/f_item_template_curr_w_child}}
	{{#fitem_template_noncurr_w_child}}
	
	{{/fitem_template_noncurr_w_child}}
{{#list_template_after_rows}}
</div>

{{/list_template_after_rows}}

{{#a01_label}}
List Group Item Heading
{{/a01_label}}
{{#a02_label}}
List Group Item Style (success, info, warning, danger)
{{/a02_label}}
{{#a03_label}}
Label Pill Style (default, primary, success, info, warning, danger)
{{/a03_label}}
{{#a04_label}}
Label Text
{{/a04_label}}
{{#a05_label}}

{{/a05_label}}
{{#a06_label}}

{{/a06_label}}
{{#a07_label}}

{{/a07_label}}
{{#a08_label}}

{{/a08_label}}
{{#a09_label}}

{{/a09_label}}
{{#a10_label}}

{{/a10_label}}
{{#a11_label}}

{{/a11_label}}
{{#a12_label}}

{{/a12_label}}
{{#a13_label}}

{{/a13_label}}
{{#a14_label}}

{{/a14_label}}
{{#a15_label}}

{{/a15_label}}
{{#a16_label}}

{{/a16_label}}
{{#a17_label}}

{{/a17_label}}
{{#a18_label}}

{{/a18_label}}
{{#a19_label}}

{{/a19_label}}
{{#a20_label}}

{{/a20_label}}

{{#template_option_groups}}
[]
{{/template_option_groups}}

{{#template_options}}
[]
{{/template_options}}