{{#JAVASCRIPT_FILE_URLS}}{{/JAVASCRIPT_FILE_URLS}}
{{#JAVASCRIPT_CODE_ONLOAD}}{{/JAVASCRIPT_CODE_ONLOAD}}
{{#CSS_FILE_URLS}}{{/CSS_FILE_URLS}}
{{#INLINE_CSS}}{{/INLINE_CSS}}

{{#LIST_TEMPLATE_BEFORE_ROWS}}
<button class="navbar-toggler order-0 d-lg-none mr-2" type="button" data-toggle="collapse" data-target="##LIST_ID#-content" aria-controls="#LIST_ID#-content" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
</button>
<nav id="#LIST_ID#" class="#COMPONENT_CSS_CLASSES# navbar-expand-lg order-4 order-lg-1 col-12 col-lg-auto px-0">
	<div class="collapse navbar-collapse" id="#LIST_ID#-content">
		<ul class="navbar-nav">
{{/LIST_TEMPLATE_BEFORE_ROWS}}
{{#LIST_TEMPLATE_CURRENT}}
<li class="nav-item active">
		<a id="#LIST_ITEM_ID#" class="nav-link d-inline-block" href="#LINK#">
			<i class="#ICON_CSS_CLASSES#"></i>
			<span class="nav-item-text">#TEXT# <span class="sr-only">(current)</span></span>
		</a>
	</li>
{{/LIST_TEMPLATE_CURRENT}}
{{#ITEM_TEMPLATE_CURR_W_CHILD}}
<li class="nav-item active dropdown">
		<a class="nav-link d-inline-block dropdown-toggle" href="#LINK#" id="#LIST_ITEM_ID#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="#ICON_CSS_CLASSES#"></i>
			<span class="nav-item-text">#TEXT# <span class="sr-only">(current)</span></span>
		</a>
	</li>
{{/ITEM_TEMPLATE_CURR_W_CHILD}}
{{#LIST_TEMPLATE_NONCURRENT}}
<li class="nav-item">
		<a id="#LIST_ITEM_ID#" class="nav-link d-inline-block" href="#LINK#">
			<i class="#ICON_CSS_CLASSES#"></i>
			<span class="nav-item-text">#TEXT#</span>
		</a>
	</li>
{{/LIST_TEMPLATE_NONCURRENT}}
{{#ITEM_TEMPLATE_NONCURR_W_CHILD}}
<li class="nav-item dropdown">
		<a class="nav-link d-inline-block dropdown-toggle" href="#LINK#" id="#LIST_ITEM_ID#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="#ICON_CSS_CLASSES#"></i>
			<span class="nav-item-text">#TEXT#</span>
		</a>
	</li>
{{/ITEM_TEMPLATE_NONCURR_W_CHILD}}
{{#BETWEEN_ITEMS}}{{/BETWEEN_ITEMS}}

{{#BEFORE_SUB_LIST}}
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
{{/BEFORE_SUB_LIST}}
{{#SUB_LIST_ITEM_CURRENT}}
<a class="dropdown-item active" href="#LINK#">
			<i class="#ICON_CSS_CLASSES#"></i>
			<span class="nav-item-text">#TEXT#</span>
		</a>
{{/SUB_LIST_ITEM_CURRENT}}
{{#SUB_LIST_ITEM_NONCURRENT}}
<a class="dropdown-item" href="#LINK#">
			<i class="#ICON_CSS_CLASSES#"></i>
			<span class="nav-item-text">#TEXT#</span>
		</a>
{{/SUB_LIST_ITEM_NONCURRENT}}
{{#SUB_TEMPLATE_CURR_W_CHILD}}
<a class="dropdown-item active" href="#LINK#">
			<i class="#ICON_CSS_CLASSES#"></i>
			<span class="nav-item-text">#TEXT#</span>
		</a>
{{/SUB_TEMPLATE_CURR_W_CHILD}}
{{#SUB_TEMPLATE_NONCURR_W_CHILD}}
<a class="dropdown-item" href="#LINK#">
			<i class="#ICON_CSS_CLASSES#"></i>
			<span class="nav-item-text">#TEXT#</span>
		</a>
{{/SUB_TEMPLATE_NONCURR_W_CHILD}}
{{#BETWEEN_SUB_LIST_ITEMS}}{{/BETWEEN_SUB_LIST_ITEMS}}
{{#AFTER_SUB_LIST}}
</div>
{{/AFTER_SUB_LIST}}

{{#FIRST_LIST_TEMPLATE_NONCURRENT}}{{/FIRST_LIST_TEMPLATE_NONCURRENT}}
{{#FIRST_LIST_TEMPLATE_CURRENT}}{{/FIRST_LIST_TEMPLATE_CURRENT}}
{{#F_ITEM_TEMPLATE_CURR_W_CHILD}}{{/F_ITEM_TEMPLATE_CURR_W_CHILD}}
{{#FITEM_TEMPLATE_NONCURR_W_CHILD}}{{/FITEM_TEMPLATE_NONCURR_W_CHILD}}
{{#LIST_TEMPLATE_AFTER_ROWS}}
</ul>
</div>
</nav>
{{/LIST_TEMPLATE_AFTER_ROWS}}

{{#A01_LABEL}}{{/A01_LABEL}}
{{#A02_LABEL}}{{/A02_LABEL}}
{{#A03_LABEL}}{{/A03_LABEL}}
{{#A04_LABEL}}{{/A04_LABEL}}
{{#A05_LABEL}}{{/A05_LABEL}}
{{#A06_LABEL}}{{/A06_LABEL}}
{{#A07_LABEL}}{{/A07_LABEL}}
{{#A08_LABEL}}{{/A08_LABEL}}
{{#A09_LABEL}}{{/A09_LABEL}}
{{#A10_LABEL}}{{/A10_LABEL}}
{{#A11_LABEL}}{{/A11_LABEL}}
{{#A12_LABEL}}{{/A12_LABEL}}
{{#A13_LABEL}}{{/A13_LABEL}}
{{#A14_LABEL}}{{/A14_LABEL}}
{{#A15_LABEL}}{{/A15_LABEL}}
{{#A16_LABEL}}{{/A16_LABEL}}
{{#A17_LABEL}}{{/A17_LABEL}}
{{#A18_LABEL}}{{/A18_LABEL}}
{{#A19_LABEL}}{{/A19_LABEL}}
{{#A20_LABEL}}{{/A20_LABEL}}

{{#TEMPLATE_OPTION_GROUPS}}
[]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
