{{#JAVASCRIPT_FILE_URLS}}{{/JAVASCRIPT_FILE_URLS}}
{{#JAVASCRIPT_CODE_ONLOAD}}{{/JAVASCRIPT_CODE_ONLOAD}}
{{#CSS_FILE_URLS}}{{/CSS_FILE_URLS}}
{{#INLINE_CSS}}{{/INLINE_CSS}}

{{#LIST_TEMPLATE_BEFORE_ROWS}}
<ul id="#LIST_ID#" class="nav #COMPONENT_CSS_CLASSES#">
{{/LIST_TEMPLATE_BEFORE_ROWS}}
{{#LIST_TEMPLATE_CURRENT}}
<li class="nav-item active">
    <a href="#LINK#" class="active nav-link"><i class="#ICON_CSS_CLASSES#"></i>#TEXT#</a>
</li>
{{/LIST_TEMPLATE_CURRENT}}
{{#ITEM_TEMPLATE_CURR_W_CHILD}}
<li class="nav-item active">
    <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="#ICON_CSS_CLASSES#"></i>#TEXT#</a>#TEXT#</a>
</li>
{{/ITEM_TEMPLATE_CURR_W_CHILD}}
{{#LIST_TEMPLATE_NONCURRENT}}
<li class="nav-item">
    <a href="#LINK#" class="nav-link"><i class="#ICON_CSS_CLASSES#"></i>#TEXT#</a>
</li>
{{/LIST_TEMPLATE_NONCURRENT}}
{{#ITEM_TEMPLATE_NONCURR_W_CHILD}}
<li class="nav-item">
    <a href="#LINK#" class="nav-link"><i class="#ICON_CSS_CLASSES#"></i>#TEXT#</a>
</li>
{{/ITEM_TEMPLATE_NONCURR_W_CHILD}}
{{#BETWEEN_ITEMS}}{{/BETWEEN_ITEMS}}

{{#BEFORE_SUB_LIST}}
<div class="dropdown-menu">
{{/BEFORE_SUB_LIST}}
{{#SUB_LIST_ITEM_CURRENT}}
<a class="dropdown-item active" href="#LINK#"><i class="#ICON_CSS_CLASSES#"></i>#TEXT#</a>
{{/SUB_LIST_ITEM_CURRENT}}
{{#SUB_LIST_ITEM_NONCURRENT}}
<a class="dropdown-item" href="#LINK#"><i class="#ICON_CSS_CLASSES#"></i>#TEXT#</a>
{{/SUB_LIST_ITEM_NONCURRENT}}
{{#SUB_TEMPLATE_CURR_W_CHILD}}
{{/SUB_TEMPLATE_CURR_W_CHILD}}
{{#SUB_TEMPLATE_NONCURR_W_CHILD}}
{{/SUB_TEMPLATE_NONCURR_W_CHILD}}
{{#BETWEEN_SUB_LIST_ITEMS}}{{/BETWEEN_SUB_LIST_ITEMS}}
{{#AFTER_SUB_LIST}}
</div>
{{/AFTER_SUB_LIST}}

{{#FIRST_LIST_TEMPLATE_NONCURRENT}}{{/FIRST_LIST_TEMPLATE_NONCURRENT}}
{{#FIRST_LIST_TEMPLATE_CURRENT}}{{/FIRST_LIST_TEMPLATE_CURRENT}}
{{#F_ITEM_TEMPLATE_CURR_W_CHILD}}{{/F_ITEM_TEMPLATE_CURR_W_CHILD}}
{{#FITEM_TEMPLATE_NONCURR_W_CHILD}}{{/FITEM_TEMPLATE_NONCURR_W_CHILD}}
{{#LIST_TEMPLATE_AFTER_ROWS}}
</ul>
{{/LIST_TEMPLATE_AFTER_ROWS}}

{{#A01_LABEL}}{{/A01_LABEL}}
{{#A02_LABEL}}{{/A02_LABEL}}
{{#A03_LABEL}}{{/A03_LABEL}}
{{#A04_LABEL}}{{/A04_LABEL}}
{{#A05_LABEL}}{{/A05_LABEL}}
{{#A06_LABEL}}{{/A06_LABEL}}
{{#A07_LABEL}}{{/A07_LABEL}}
{{#A08_LABEL}}{{/A08_LABEL}}
{{#A09_LABEL}}{{/A09_LABEL}}
{{#A10_LABEL}}{{/A10_LABEL}}
{{#A11_LABEL}}{{/A11_LABEL}}
{{#A12_LABEL}}{{/A12_LABEL}}
{{#A13_LABEL}}{{/A13_LABEL}}
{{#A14_LABEL}}{{/A14_LABEL}}
{{#A15_LABEL}}{{/A15_LABEL}}
{{#A16_LABEL}}{{/A16_LABEL}}
{{#A17_LABEL}}{{/A17_LABEL}}
{{#A18_LABEL}}{{/A18_LABEL}}
{{#A19_LABEL}}{{/A19_LABEL}}
{{#A20_LABEL}}{{/A20_LABEL}}

{{#TEMPLATE_OPTION_GROUPS}}
[
  {
    "NAME": "NAV_ALIGN",
    "DISPLAY_NAME": "Navigation Alignment",
    "DISPLAY_SEQUENCE": 1,
    "HELP_TEXT": "",
    "NULL_TEXT": "Horizontal, Aligned Left",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "NAV_ALIGN_HORIZONTAL_CENTER",
        "DISPLAY_NAME": "Horizontal, Aligned Center",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "justify-content-center"
      },
      {
        "NAME": "NAV_ALIGN_HORIZONTAL_RIGHT",
        "DISPLAY_NAME": "Horizontal, Aligned Right",
        "DISPLAY_SEQUENCE": 2,
        "CSS_CLASSES": "justify-content-end"
      },
      {
        "NAME": "NAV_ALIGN_HORIZONTAL_FILLED",
        "DISPLAY_NAME": "Horizontal, Filled",
        "DISPLAY_SEQUENCE": 3,
        "CSS_CLASSES": "nav-fill"
      },
      {
        "NAME": "NAV_ALIGN_HORIZONTAL_JUSTIFIED",
        "DISPLAY_NAME": "Horizontal, Justified",
        "DISPLAY_SEQUENCE": 3,
        "CSS_CLASSES": "nav-justified"
      },
      {
        "NAME": "NAV_ALIGN_VERTICAL_LEFT",
        "DISPLAY_NAME": "Vertical, Aligned Left",
        "DISPLAY_SEQUENCE": 4,
        "CSS_CLASSES": "flex-column text-left"
      },
      {
        "NAME": "NAV_ALIGN_VERTICAL_CENTER",
        "DISPLAY_NAME": "Vertical, Aligned Center",
        "DISPLAY_SEQUENCE": 5,
        "CSS_CLASSES": "flex-column text-center"
      },
      {
        "NAME": "NAV_ALIGN_VERTICAL_RIGHT",
        "DISPLAY_NAME": "Vertical, Aligned Right",
        "DISPLAY_SEQUENCE": 6,
        "CSS_CLASSES": "flex-column text-right"
      }
    ]
  },
  {
    "NAME": "NAV_STYLE",
    "DISPLAY_NAME": "Navigation Style",
    "DISPLAY_SEQUENCE": 0,
    "HELP_TEXT": "",
    "NULL_TEXT": "Default",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
        {
          "NAME": "NAV_TABS",
          "DISPLAY_NAME": "Tabs",
          "DISPLAY_SEQUENCE": 2,
          "CSS_CLASSES": "nav-tabs",
          "HELP_TEXT": ""
        },
        {
          "NAME": "NAV_PILLS",
          "DISPLAY_NAME": "Pills",
          "DISPLAY_SEQUENCE": 2,
          "CSS_CLASSES": "nav-pills",
          "HELP_TEXT": ""
        }
    ]
  }
]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
