{{#TEMPLATE}}
<div id="#REGION_STATIC_ID#" class="ft-region jumbotron d-flex flex-row justify-content-between #REGION_CSS_CLASSES#" #REGION_ATTRIBUTES#>
	<div class="ft-region-left align-self-center mr-2">#PREVIOUS#</div>

	<div class="ft-region-center w-100">
		<div class="ft-region-header d-flex flex-row">
			<div class="ft-region-left w-100">
				<div class="ft-region-title"><i class="#ICON_CSS_CLASSES#"></i>#TITLE#</div>
			</div>
			<div class="ft-region-right">#EDIT#</div>
		</div>

		<div class="ft-region-buttons d-flex flex-row justify-content-between">
			<div class="ft-region-left">#COPY#</div>
			<div class="ft-region-right">#EXPAND#</div>
		</div>

		<div class="ft-region-body t-Region-body">#BODY##SUB_REGIONS#</div>

		<div class="ft-region-buttons d-flex flex-row justify-content-between">
			<div class="ft-region-left">#CLOSE##HELP#</div>
			<div class="ft-region-center">#CHANGE#</div>
			<div class="ft-region-right">#DELETE##CREATE##CREATE2#</div>
		</div>
	</div>

	<div class="ft-region-right align-self-center ml-2">#NEXT#</div>
</div>
{{/TEMPLATE}}
{{#SUB_PLUG_HEADER_TEMPLATE}}{{/SUB_PLUG_HEADER_TEMPLATE}}
{{#SUB_PLUG_HEADER_ENTRY_TEMPLATE}}{{/SUB_PLUG_HEADER_ENTRY_TEMPLATE}}
{{#SUB_PLUG_TEMPLATE}}{{/SUB_PLUG_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[
  {
    "NAME": "REGION_JUMBOTRON_STYLE",
    "DISPLAY_NAME": "Jumbotron Style",
    "DISPLAY_SEQUENCE": 1,
    "HELP_TEXT": "A lightweight, flexible component that can optionally extend the entire viewport to showcase key marketing messages on your site.",
    "NULL_TEXT": "Default",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "JUMBOTRON_FLUID",
        "DISPLAY_NAME": "Jumbotron Fluid",
        "DISPLAY_SEQUENCE": 2,
        "CSS_CLASSES": "jumbotron-fluid",
        "HELP_TEXT": "This is a modified jumbotron that occupies the entire horizontal space of its parent."
      },
      {
        "NAME": "JUMBOTRON_MASTER",
        "DISPLAY_NAME": "Jumbotron Master",
        "DISPLAY_SEQUENCE": 3,
        "CSS_CLASSES": "ft-jumbotron-jumbo",
        "HELP_TEXT": "Make it even bigger!"
      }
    ]
  }
]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}
ft-region-title-size-display-2
{{/PRESET_TEMPLATE_OPTIONS}}
