{{#row_template_before_rows}}
<div id="#REGION_STATIC_ID#_cards" class="row #COMPONENT_CSS_CLASSES#" #REPORT_ATTRIBUTES#>
{{/row_template_before_rows}}

{{#before_column_heading}}

{{/before_column_heading}}

	{{#column_heading_template}}

	{{/column_heading_template}}

{{#after_column_heading}}

{{/after_column_heading}}

	{{#row_template_before_first}}

	{{/row_template_before_first}}

		{{#row_template1}}
		<div class="col-xs-12 ft-card-columns"><div class="card bg-#CARD_STYLE#"> <img src="#IMG_SRC#" alt="#IMG_ALT#"><div class="card-block"><h4 class="card-title">#CARD_TITLE#</h4><h6 class="card-subtitle text-muted">#CARD_SUBTITLE#</h6><blockquote class="card-text">#CARD_TEXT#</blockquote> <a href="#CARD_LINK1#" class="btn ft-card-btn card-link">#CARD_LINK_LABEL1#</a> <a href="#CARD_LINK2#" class="btn ft-card-btn card-link">#CARD_LINK_LABEL2#</a></div></div></div>
		{{/row_template1}}
		{{#row_template_condition1}}

		{{/row_template_condition1}}
		{{#row_template_display_cond1}}

		{{/row_template_display_cond1}}
		{{#row_template2}}

		{{/row_template2}}
		{{#row_template_condition2}}

		{{/row_template_condition2}}
		{{#row_template_display_cond2}}

		{{/row_template_display_cond2}}
		{{#row_template3}}

		{{/row_template3}}
		{{#row_template_condition3}}

		{{/row_template_condition3}}
		{{#row_template_display_cond3}}

		{{/row_template_display_cond3}}
		{{#row_template4}}

		{{/row_template4}}
		{{#row_template_condition4}}

		{{/row_template_condition4}}
		{{#row_template_display_cond4}}

		{{/row_template_display_cond4}}

	{{#row_template_after_last}}

	{{/row_template_after_last}}

{{#row_template_after_rows}}
</div>
{{/row_template_after_rows}}

{{#pagination_template}}

{{/pagination_template}}
{{#next_page_template}}

{{/next_page_template}}
{{#previous_page_template}}

{{/previous_page_template}}
{{#next_set_template}}

{{/next_set_template}}
{{#previous_set_template}}

{{/previous_set_template}}

{{#template_option_groups}}
[]
{{/template_option_groups}}

{{#template_options}}
[]
{{/template_options}}
