{{#ROW_TEMPLATE_BEFORE_ROWS}}
<div id="#REGION_STATIC_ID#_cards" class="row #COMPONENT_CSS_CLASSES#" #REPORT_ATTRIBUTES#>
{{/ROW_TEMPLATE_BEFORE_ROWS}}

{{#BEFORE_COLUMN_HEADING}}{{/BEFORE_COLUMN_HEADING}}

{{#COLUMN_HEADING_TEMPLATE}}{{/COLUMN_HEADING_TEMPLATE}}

{{#AFTER_COLUMN_HEADING}}{{/AFTER_COLUMN_HEADING}}

{{#ROW_TEMPLATE_BEFORE_FIRST}}{{/ROW_TEMPLATE_BEFORE_FIRST}}

{{#ROW_TEMPLATE1}}
<div class="col-xs-12 ft-card-columns"><div class="card bg-#CARD_STYLE#"> <img src="#IMG_SRC#" alt="#IMG_ALT#"><div class="card-block"><h4 class="card-title">#CARD_TITLE#</h4><h6 class="card-subtitle text-muted">#CARD_SUBTITLE#</h6><blockquote class="card-text">#CARD_TEXT#</blockquote> <a href="#CARD_LINK1#" class="btn ft-card-btn card-link">#CARD_LINK_LABEL1#</a> <a href="#CARD_LINK2#" class="btn ft-card-btn card-link">#CARD_LINK_LABEL2#</a></div></div></div>
{{/ROW_TEMPLATE1}}
{{#ROW_TEMPLATE_CONDITION1}}{{/ROW_TEMPLATE_CONDITION1}}
{{#ROW_TEMPLATE_DISPLAY_COND1}}
0
{{/ROW_TEMPLATE_DISPLAY_COND1}}
{{#ROW_TEMPLATE2}}{{/ROW_TEMPLATE2}}
{{#ROW_TEMPLATE_CONDITION2}}{{/ROW_TEMPLATE_CONDITION2}}
{{#ROW_TEMPLATE_DISPLAY_COND2}}
0
{{/ROW_TEMPLATE_DISPLAY_COND2}}
{{#ROW_TEMPLATE3}}{{/ROW_TEMPLATE3}}
{{#ROW_TEMPLATE_CONDITION3}}{{/ROW_TEMPLATE_CONDITION3}}
{{#ROW_TEMPLATE_DISPLAY_COND3}}
0
{{/ROW_TEMPLATE_DISPLAY_COND3}}
{{#ROW_TEMPLATE4}}{{/ROW_TEMPLATE4}}
{{#ROW_TEMPLATE_CONDITION4}}{{/ROW_TEMPLATE_CONDITION4}}
{{#ROW_TEMPLATE_DISPLAY_COND4}}
0
{{/ROW_TEMPLATE_DISPLAY_COND4}}

{{#ROW_TEMPLATE_AFTER_LAST}}{{/ROW_TEMPLATE_AFTER_LAST}}

{{#ROW_TEMPLATE_AFTER_ROWS}}
</div>
{{/ROW_TEMPLATE_AFTER_ROWS}}

{{#PAGINATION_TEMPLATE}}{{/PAGINATION_TEMPLATE}}
{{#NEXT_PAGE_TEMPLATE}}{{/NEXT_PAGE_TEMPLATE}}
{{#PREVIOUS_PAGE_TEMPLATE}}{{/PREVIOUS_PAGE_TEMPLATE}}
{{#NEXT_SET_TEMPLATE}}{{/NEXT_SET_TEMPLATE}}
{{#PREVIOUS_SET_TEMPLATE}}{{/PREVIOUS_SET_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}
ab-card-img-top
{{/PRESET_TEMPLATE_OPTIONS}}
