{{#template}}
<div id="#REGION_STATIC_ID#" class="alert #REGION_CSS_CLASSES#" role="alert" #REGION_ATTRIBUTES#>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>#TITLE#</strong>
    #BODY#
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
        <div class="btn-group" role="group" aria-label="Button Group">#EDIT#</div>
        <div class="btn-group" role="group" aria-label="Button Group">#EXPAND#</div>
        <div class="btn-group" role="group" aria-label="Button Group">#CREATE#</div>
        <div class="btn-group" role="group" aria-label="Button Group">#CREATE2#</div>
        <div class="btn-group" role="group" aria-label="Button Group">#CLOSE#</div>
        <div class="btn-group" role="group" aria-label="Button Group">#COPY#</div>
        <div class="btn-group" role="group" aria-label="Button Group">#DELETE#</div>
        <div class="btn-group" role="group" aria-label="Button Group">#CHANGE#</div>
    </div>
</div>
{{/template}}
