{{#template}}
<div id="#REGION_STATIC_ID#" class="ab-region card #REGION_CSS_CLASSES#" #REGION_ATTRIBUTES#>
    <div class="card-block">
        <h4 class="card-title">#TITLE#</h4>
        <blockquote class="card-text">
            #BODY#
        </blockquote>
        #EDIT# #CREATE# #CREATE2#
    </div>
        #SUB_REGIONS#
        #CLOSE# #COPY# #DELETE#
</div>
{{/template}}

{{#sub_plug_header_template}}
<div class="card-header">#SUB_REGION_HEADERS#</div>
{{/sub_plug_header_template}}
