{{#ROW_TEMPLATE_BEFORE_ROWS}}
<table class="t-Report-pagination t-Report-pagination--top" role="presentation">#TOP_PAGINATION#</table>
<div class="table-responsive">
<table id="#REGION_STATIC_ID#-report" class="table #COMPONENT_CSS_CLASSES#" summary="#REGION_TITLE#" #REPORT_ATTRIBUTES#>
{{/ROW_TEMPLATE_BEFORE_ROWS}}

{{#BEFORE_COLUMN_HEADING}}
<thead>
{{/BEFORE_COLUMN_HEADING}}
{{#COLUMN_HEADING_TEMPLATE}}
<th id="#COLUMN_HEADER_NAME#" class="" scope="col" #ALIGNMENT# #COLUMN_WIDTH#>#COLUMN_HEADER#</th>
{{/COLUMN_HEADING_TEMPLATE}}
{{#AFTER_COLUMN_HEADING}}
</thead>
<tbody>
{{/AFTER_COLUMN_HEADING}}

{{#ROW_TEMPLATE_BEFORE_FIRST}}
<tr>
{{/ROW_TEMPLATE_BEFORE_FIRST}}

{{#ROW_TEMPLATE1}}
<td class="" #ALIGNMENT# headers="#COLUMN_HEADER_NAME#">#COLUMN_VALUE#</td>
{{/ROW_TEMPLATE1}}
{{#ROW_TEMPLATE_CONDITION1}}{{/ROW_TEMPLATE_CONDITION1}}
{{#ROW_TEMPLATE_DISPLAY_COND1}}
0
{{/ROW_TEMPLATE_DISPLAY_COND1}}
{{#ROW_TEMPLATE2}}{{/ROW_TEMPLATE2}}
{{#ROW_TEMPLATE_CONDITION2}}{{/ROW_TEMPLATE_CONDITION2}}
{{#ROW_TEMPLATE_DISPLAY_COND2}}
0
{{/ROW_TEMPLATE_DISPLAY_COND2}}
{{#ROW_TEMPLATE3}}{{/ROW_TEMPLATE3}}
{{#ROW_TEMPLATE_CONDITION3}}{{/ROW_TEMPLATE_CONDITION3}}
{{#ROW_TEMPLATE_DISPLAY_COND3}}
0
{{/ROW_TEMPLATE_DISPLAY_COND3}}
{{#ROW_TEMPLATE4}}{{/ROW_TEMPLATE4}}
{{#ROW_TEMPLATE_CONDITION4}}{{/ROW_TEMPLATE_CONDITION4}}
{{#ROW_TEMPLATE_DISPLAY_COND4}}
0
{{/ROW_TEMPLATE_DISPLAY_COND4}}

{{#ROW_TEMPLATE_AFTER_LAST}}
</tr>
{{/ROW_TEMPLATE_AFTER_LAST}}

{{#ROW_TEMPLATE_AFTER_ROWS}}
</tbody>
</table>
</div>
<div class="t-Report-links">#EXTERNAL_LINK##CSV_LINK#</div>
<table class="t-Report-pagination t-Report-pagination--bottom" role="presentation">#PAGINATION#</table>
{{/ROW_TEMPLATE_AFTER_ROWS}}

{{#PAGINATION_TEMPLATE}}
<span class="t-Report-paginationText">#TEXT#</span>
{{/PAGINATION_TEMPLATE}}
{{#NEXT_PAGE_TEMPLATE}}
<a href="#LINK#" class="t-Button t-Button--small t-Button--noUI t-Report-paginationLink t-Report-paginationLink--next">
  #PAGINATION_NEXT#<span class="a-Icon icon-right-arrow"></span>
</a>
{{/NEXT_PAGE_TEMPLATE}}
{{#PREVIOUS_PAGE_TEMPLATE}}
<a href="#LINK#" class="t-Button t-Button--small t-Button--noUI t-Report-paginationLink t-Report-paginationLink--prev">
  <span class="a-Icon icon-left-arrow"></span>#PAGINATION_PREVIOUS#
</a>
{{/PREVIOUS_PAGE_TEMPLATE}}
{{#NEXT_SET_TEMPLATE}}
<a href="#LINK#" class="t-Button t-Button--small t-Button--noUI t-Report-paginationLink t-Report-paginationLink--next">
  #PAGINATION_NEXT_SET#<span class="a-Icon icon-right-arrow"></span>
</a>
{{/NEXT_SET_TEMPLATE}}
{{#PREVIOUS_SET_TEMPLATE}}
<a href="#LINK#" class="t-Button t-Button--small t-Button--noUI t-Report-paginationLink t-Report-paginationLink--prev">
  <span class="a-Icon icon-left-arrow"></span>#PAGINATION_PREVIOUS_SET#
</a>
{{/PREVIOUS_SET_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[
  {
    "NAME": "TABLE_STYLE",
    "DISPLAY_NAME": "Table Style",
    "DISPLAY_SEQUENCE": 1,
    "HELP_TEXT": "",
    "NULL_TEXT": "Light (default)",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "TABLE_STYLE_DARK",
        "DISPLAY_NAME": "Dark",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "table-dark",
        "HELP_TEXT": ""
      }
    ]
  },
  {
    "NAME": "THEAD_STYLE",
    "DISPLAY_NAME": "Table Header Style",
    "DISPLAY_SEQUENCE": 2,
    "HELP_TEXT": "",
    "NULL_TEXT": "Default",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "THEAD_STYLE_LIGHT",
        "DISPLAY_NAME": "Light",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "ft-thead-light",
        "HELP_TEXT": ""
      },
      {
        "NAME": "THEAD_STYLE_DARK",
        "DISPLAY_NAME": "Dark",
        "DISPLAY_SEQUENCE": 2,
        "CSS_CLASSES": "ft-thead-dark",
        "HELP_TEXT": ""
      }
    ]
  },
  {
    "NAME": "TABLE_SIZE",
    "DISPLAY_NAME": "Table Size",
    "DISPLAY_SEQUENCE": 3,
    "HELP_TEXT": "",
    "NULL_TEXT": "Default",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "TABLE_SIZE_SMALL",
        "DISPLAY_NAME": "Small",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "table-sm",
        "HELP_TEXT": ""
      }
    ]
  },
  {
    "NAME": "REPORT_BORDER_STYLE",
    "DISPLAY_NAME": "Border Style",
    "DISPLAY_SEQUENCE": 4,
    "HELP_TEXT": "",
    "NULL_TEXT": "Horizontal Only (default)",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "REPORT_BORDER_STYLE_ALL",
        "DISPLAY_NAME": "All",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "table-bordered",
        "HELP_TEXT": ""
      },
      {
        "NAME": "REPORT_BORDER_STYLE_NONE",
        "DISPLAY_NAME": "Borderless",
        "DISPLAY_SEQUENCE": 2,
        "CSS_CLASSES": "table-borderless",
        "HELP_TEXT": ""
      }
    ]
  }
]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[
  {
    "NAME": "TABLE_STRIPED",
    "DISPLAY_NAME": "Table Striped",
    "DISPLAY_SEQUENCE": 1,
    "CSS_CLASSES": "table-striped",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  },
  {
    "NAME": "TABLE_HOVER",
    "DISPLAY_NAME": "Table Hover",
    "DISPLAY_SEQUENCE": 3,
    "CSS_CLASSES": "table-hover",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  },
  {
    "NAME": "TABLE_CAPTION",
    "DISPLAY_NAME": "Show Region Title as Caption",
    "DISPLAY_SEQUENCE": 4,
    "CSS_CLASSES": "ft-table-caption",
    "HELP_TEXT": "",
    "IS_ADVANCED": ""
  }
]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}{{/PRESET_TEMPLATE_OPTIONS}}
