{{#TEMPLATE}}
<button id="#BUTTON_ID#" type="button" class="ft-button btn #BUTTON_CSS_CLASSES#" onclick="#JAVASCRIPT#" #BUTTON_ATTRIBUTES#>
  <i class="#ICON_CSS_CLASSES#" aria-hidden="true"></i>
  <span class="ft-button-label">#LABEL#</span>
  <i class="#ICON_CSS_CLASSES#" aria-hidden="true"></i>
</button>

{{/TEMPLATE}}
{{#HOT_TEMPLATE}}
<button id="#BUTTON_ID#" type="button" class="ft-button ft-button-hot btn #BUTTON_CSS_CLASSES#" onclick="#JAVASCRIPT#" #BUTTON_ATTRIBUTES#>
  <i class="#ICON_CSS_CLASSES#" aria-hidden="true"></i>
  <span class="ft-button-label">#LABEL#</span>
  <i class="#ICON_CSS_CLASSES#" aria-hidden="true"></i>
</button>

{{/HOT_TEMPLATE}}

{{#TEMPLATE_OPTION_GROUPS}}
[
  {
    "NAME": "BUTTON_ICON_POSITION",
    "DISPLAY_NAME": "Icon Position",
    "DISPLAY_SEQUENCE": 10,
    "HELP_TEXT": "Sets the position of the icon relative to the label.",
    "NULL_TEXT": "",
    "IS_ADVANCED": "N",
    "TEMPLATE_OPTIONS": [
      {
        "NAME": "BUTTON_ICON_POSITION_LEFT",
        "DISPLAY_NAME": "Left",
        "DISPLAY_SEQUENCE": 1,
        "CSS_CLASSES": "ft-button-icon-left",
        "HELP_TEXT": ""
      },
      {
        "NAME": "BUTTON_ICON_POSITION_RIGHT",
        "DISPLAY_NAME": "Right",
        "DISPLAY_SEQUENCE": 2,
        "CSS_CLASSES": "ft-button-icon-right",
        "HELP_TEXT": ""
      }
    ]
  }
]
{{/TEMPLATE_OPTION_GROUPS}}
{{#TEMPLATE_OPTIONS}}
[]
{{/TEMPLATE_OPTIONS}}
{{#DEFAULT_TEMPLATE_OPTIONS}}{{/DEFAULT_TEMPLATE_OPTIONS}}
{{#PRESET_TEMPLATE_OPTIONS}}
btn-outline-secondary:ft-button-icon-right
{{/PRESET_TEMPLATE_OPTIONS}}
