/* Icon and Badge Positions
  ========================================================================== */
.ft-button-icon-left, .ft-button-badge-left {
	.ft-button-label + i, .ft-button-label + .badge {
		@include hide;
	}
}

.ft-button-icon-right, .ft-button-badge-right {
	i:first-child, .badge:first-child {
		@include hide;
	}
}

/* Hot Button
  ========================================================================== */
.ft-button.ft-button-hot {
	&,
	.t-Icon {
		color: $button-hot-text-color;
	}
	background-color: $button-hot-background-color;
	border-color: $button-hot-background-color;

	&.is-active,
	&:focus,
	&:hover {
		background-color: $button-hot-background-color;
		color: $button-hot-text-color;
		// box-shadow: 0 0 0 1px @l_Button-Hot-BG inset;
		.t-Icon {
			color: $button-hot-text-color;
		}
	}
}
