.ft-footer {
	.ft-footer-top {
		background-color: $footer-top-background-color;
	}

	.ft-footer-bottom {
		background-color: $footer-bottom-background-color;

		.version, .customize, .screenreader {
			&:not(:empty) {
				margin-right: 1rem;
			}
		}
	}
}
