.ft-footer {
	.ft-footer-top {
		background-color: $footer-top-background-color;
	}

	.ft-footer-bottom {
		background-color: $footer-bottom-background-color;

		.customize,
		.screenreader,
		.version {
			&:not(:empty) {
				margin-right: 1rem;
			}
		}
	}

	.nav-link {
		padding-left: 0;
		padding-right: 0;
	}
}
