// Sticky Footer
body > form {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	main {
		flex: 1 0 auto;
	}
}

// Body container
.ft-page-body-container {
	.ft-main {
		@include make-container();
		@include make-container-max-widths();
	}
}

.ft-page-body-container-fluid {
	.ft-main {
		@include make-container();
	}
}

// Footer container
.ft-page-footer-container {
	.ft-footer-top, .ft-footer-bottom {
		@include make-container();
		@include make-container-max-widths();
	}
}

.ft-page-footer-container-fluid {
	.ft-footer-top, .ft-footer-bottom {
		@include make-container();
	}
}
