html {
	// !important is required to overwrite what APEX already does
	// Will be set to visible when the page has finished loading
	// using JavaScript
	visibility: hidden!important;
}
// Sticky Footer

.ft-main {
	display: flex;
	min-height: 95vh;
	flex-direction: column;

	.ft-main-center {
		flex: 1!important;
		flex-direction: column!important;
		display: flex!important;

		.ft-main-center-container {
			flex: 1 0 auto;
		}
	}
}
// Body container
// .ft-main-center-container {
// 	padding-top: 15px;
// 	padding-bottom: 15px;
// }

.ft-page-body-container {
	.ft-main-center-container {
		@include make-container();
		@include make-container-max-widths();
	}
}

.ft-page-body-container-fluid {
	.ft-main-center-container {
		@include make-container();
	}
}
// Footer container

.ft-page-footer-container {
	.ft-footer-bottom,
	.ft-footer-top {
		.ft-footer-container {
			@include make-container();
			@include make-container-max-widths();
		}
	}
}

.ft-page-footer-container-fluid {
	.ft-footer-bottom,
	.ft-footer-top {
		.ft-footer-container {
			@include make-container();
		}
	}
}

.ft-main-center .ft-body .ft-region {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.ft-region-left,
.ft-region-right {
	&:empty {
		margin: 0!important;
	}
}
