html {
	// !important is required to overwrite what APEX already does
	// Will be set to visible when the page has finished loading
	// using JavaScript
	visibility: hidden!important;
}

// Sticky Footer
body > form {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	main {
		flex: 1 0 auto;
	}
}

// Body container
.ft-page-body-container {
	.ft-main-container {
		@include make-container();
		@include make-container-max-widths();
	}
}

.ft-page-body-container-fluid {
	.ft-main-container {
		@include make-container();
	}
}

// Footer container
.ft-page-footer-container {
	.ft-footer-top, .ft-footer-bottom {
		.ft-footer-container {
			@include make-container();
			@include make-container-max-widths();
		}
	}
}

.ft-page-footer-container-fluid {
	.ft-footer-top, .ft-footer-bottom {
		.ft-footer-container {
			@include make-container();
		}
	}
}

.ft-region-left, .ft-region-right {
	&:empty {
		margin: 0!important;
	}
}
