// Field level grid
.ft-field-container.row .col-md-0 {
	@include hide;
}

.ft-field-container.ft-field-title-size-hidden {
	.ft-field-label-container {
		@include hide;
	}
	.ft-field-element-container {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@include media-breakpoint-up(md) {
	.col-md-1 > .ft-field-container.row .col-md-1 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-md-2 > .ft-field-container.row .col-md-1 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-md-2 > .ft-field-container.row .col-md-2 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-md-3 > .ft-field-container.row .col-md-1 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-md-3 > .ft-field-container.row .col-md-2 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.col-md-3 > .ft-field-container.row .col-md-3 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-md-4 > .ft-field-container.row .col-md-1 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-md-4 > .ft-field-container.row .col-md-2 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-md-4 > .ft-field-container.row .col-md-3 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-md-4 > .ft-field-container.row .col-md-4 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-md-5 > .ft-field-container.row .col-md-1 {
		flex: 0 0 20%;
		max-width: 20%;
	}

	.col-md-5 > .ft-field-container.row .col-md-2 {
		flex: 0 0 40%;
		max-width: 40%;
	}

	.col-md-5 > .ft-field-container.row .col-md-3 {
		flex: 0 0 60%;
		max-width: 60%;
	}

	.col-md-5 > .ft-field-container.row .col-md-4 {
		flex: 0 0 80%;
		max-width: 80%;
	}

	.col-md-5 > .ft-field-container.row .col-md-5 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-md-6 > .ft-field-container.row .col-md-1 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.col-md-6 > .ft-field-container.row .col-md-2 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-md-6 > .ft-field-container.row .col-md-3 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-md-6 > .ft-field-container.row .col-md-4 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.col-md-6 > .ft-field-container.row .col-md-5 {
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}

	.col-md-6 > .ft-field-container.row .col-md-6 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-md-7 > .ft-field-container.row .col-md-1 {
		flex: 0 0 14.28571%;
		max-width: 14.28571%;
	}

	.col-md-7 > .ft-field-container.row .col-md-2 {
		flex: 0 0 28.57143%;
		max-width: 28.57143%;
	}

	.col-md-7 > .ft-field-container.row .col-md-3 {
		flex: 0 0 42.85714%;
		max-width: 42.85714%;
	}

	.col-md-7 > .ft-field-container.row .col-md-4 {
		flex: 0 0 57.14286%;
		max-width: 57.14286%;
	}

	.col-md-7 > .ft-field-container.row .col-md-5 {
		flex: 0 0 71.42857%;
		max-width: 71.42857%;
	}

	.col-md-7 > .ft-field-container.row .col-md-6 {
		flex: 0 0 85.71429%;
		max-width: 85.71429%;
	}

	.col-md-7 > .ft-field-container.row .col-md-7 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-md-8 > .ft-field-container.row .col-md-1 {
		flex: 0 0 12.5%;
		max-width: 12.5%;
	}

	.col-md-8 > .ft-field-container.row .col-md-2 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-md-8 > .ft-field-container.row .col-md-3 {
		flex: 0 0 37.5%;
		max-width: 37.5%;
	}

	.col-md-8 > .ft-field-container.row .col-md-4 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-md-8 > .ft-field-container.row .col-md-5 {
		flex: 0 0 62.5%;
		max-width: 62.5%;
	}

	.col-md-8 > .ft-field-container.row .col-md-6 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-md-8 > .ft-field-container.row .col-md-7 {
		flex: 0 0 87.5%;
		max-width: 87.5%;
	}

	.col-md-8 > .ft-field-container.row .col-md-8 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-md-9 > .ft-field-container.row .col-md-1 {
		flex: 0 0 11.11111%;
		max-width: 11.11111%;
	}

	.col-md-9 > .ft-field-container.row .col-md-2 {
		flex: 0 0 22.22222%;
		max-width: 22.22222%;
	}

	.col-md-9 > .ft-field-container.row .col-md-3 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-md-9 > .ft-field-container.row .col-md-4 {
		flex: 0 0 44.44444%;
		max-width: 44.44444%;
	}

	.col-md-9 > .ft-field-container.row .col-md-5 {
		flex: 0 0 55.55556%;
		max-width: 55.55556%;
	}

	.col-md-9 > .ft-field-container.row .col-md-6 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.col-md-9 > .ft-field-container.row .col-md-7 {
		flex: 0 0 77.77778%;
		max-width: 77.77778%;
	}

	.col-md-9 > .ft-field-container.row .col-md-8 {
		flex: 0 0 88.88889%;
		max-width: 88.88889%;
	}

	.col-md-9 > .ft-field-container.row .col-md-9 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-md-10 > .ft-field-container.row .col-md-1 {
		flex: 0 0 10%;
		max-width: 10%;
	}

	.col-md-10 > .ft-field-container.row .col-md-2 {
		flex: 0 0 20%;
		max-width: 20%;
	}

	.col-md-10 > .ft-field-container.row .col-md-3 {
		flex: 0 0 30%;
		max-width: 30%;
	}

	.col-md-10 > .ft-field-container.row .col-md-4 {
		flex: 0 0 40%;
		max-width: 40%;
	}

	.col-md-10 > .ft-field-container.row .col-md-5 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-md-10 > .ft-field-container.row .col-md-6 {
		flex: 0 0 60%;
		max-width: 60%;
	}

	.col-md-10 > .ft-field-container.row .col-md-7 {
		flex: 0 0 70%;
		max-width: 70%;
	}

	.col-md-10 > .ft-field-container.row .col-md-8 {
		flex: 0 0 80%;
		max-width: 80%;
	}

	.col-md-10 > .ft-field-container.row .col-md-9 {
		flex: 0 0 90%;
		max-width: 90%;
	}

	.col-md-10 > .ft-field-container.row .col-md-10 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-md-11 > .ft-field-container.row .col-md-1 {
		flex: 0 0 9.09091%;
		max-width: 9.09091%;
	}

	.col-md-11 > .ft-field-container.row .col-md-2 {
		flex: 0 0 18.18182%;
		max-width: 18.18182%;
	}

	.col-md-11 > .ft-field-container.row .col-md-3 {
		flex: 0 0 27.27273%;
		max-width: 27.27273%;
	}

	.col-md-11 > .ft-field-container.row .col-md-4 {
		flex: 0 0 36.36364%;
		max-width: 36.36364%;
	}

	.col-md-11 > .ft-field-container.row .col-md-5 {
		flex: 0 0 45.45455%;
		max-width: 45.45455%;
	}

	.col-md-11 > .ft-field-container.row .col-md-6 {
		flex: 0 0 54.54545%;
		max-width: 54.54545%;
	}

	.col-md-11 > .ft-field-container.row .col-md-7 {
		flex: 0 0 63.63636%;
		max-width: 63.63636%;
	}

	.col-md-11 > .ft-field-container.row .col-md-8 {
		flex: 0 0 72.72727%;
		max-width: 72.72727%;
	}

	.col-md-11 > .ft-field-container.row .col-md-9 {
		flex: 0 0 81.81818%;
		max-width: 81.81818%;
	}

	.col-md-11 > .ft-field-container.row .col-md-10 {
		flex: 0 0 90.90909%;
		max-width: 90.90909%;
	}

	.col-md-11 > .ft-field-container.row .col-md-11 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-md-12 > .ft-field-container.row .col-md-1 {
		flex: 0 0 8.33333%;
		max-width: 8.33333%;
	}

	.col-md-12 > .ft-field-container.row .col-md-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.col-md-12 > .ft-field-container.row .col-md-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-md-12 > .ft-field-container.row .col-md-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.col-md-12 > .ft-field-container.row .col-md-5 {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}

	.col-md-12 > .ft-field-container.row .col-md-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-md-12 > .ft-field-container.row .col-md-7 {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}

	.col-md-12 > .ft-field-container.row .col-md-8 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.col-md-12 > .ft-field-container.row .col-md-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-md-12 > .ft-field-container.row .col-md-10 {
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}

	.col-md-12 > .ft-field-container.row .col-md-11 {
		flex: 0 0 91.66667%;
		max-width: 91.66667%;
	}

	.col-md-12 > .ft-field-container.row .col-md-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}
}
