// Fix icon alignment
.fa, .fa:before {
  vertical-align: baseline;
}

.a-Icon {
    vertical-align: middle;
    width: auto;
    height: auto;
    line-height: normal;
}

.apex-icons-fontapex .fa {
    font-family: inherit!important;
    position: relative;
}
