@include media-breakpoint-down(sm) {
	.ft-main-right-toggle {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0.5rem;
	}

	.ft-main-left-toggle {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0.5rem;
	}
}

@include media-breakpoint-up(md) {
	.ft-main-left-toggle {
		margin-right: 0.5rem;
	}
}

.ft-left-right-template {
	.ft-main-center {
		@include make-col(12);
		transition: max-width 0.3s, margin-left 0.3s;

		.ft-breadcrumb {
			width: 100%;
		}

		&.ft-main-left-open {
			@include media-breakpoint-up(sm) {
				@include make-col-offset(3);
				@include make-col(9);
				.ft-breadcrumb {
					width: (9/12*100) + %;
				}
			}
			@include media-breakpoint-up(lg) {
				@include make-col-offset(2);
				@include make-col(10);
				.ft-breadcrumb {
					width: (10/12*100) + %;
				}
			}
		}

		&.ft-main-right-open {
			@include media-breakpoint-up(sm) {
				@include make-col(9);
				.ft-breadcrumb {
					width: (9/12*100) + %;
				}
			}
			@include media-breakpoint-up(lg) {
				@include make-col(10);
				.ft-breadcrumb {
					width: (10/12*100) + %;
				}
			}
		}

		&.ft-main-left-open.ft-main-right-open {
			@include media-breakpoint-up(sm) {
				@include make-col(6);
				.ft-breadcrumb {
					width: (6/12*100) + %;
				}
			}
			@include media-breakpoint-up(lg) {
				@include make-col(8);
				.ft-breadcrumb {
					width: (8/12*100) + %;
				}
			}
		}
	}
}

.ft-main-left,
.ft-main-right {
	@include make-col(6);

	@include media-breakpoint-up(sm) {
		@include make-col(3);
	}

	@include media-breakpoint-up(lg) {
		@include make-col(2);
	}

	position: fixed;
	overflow-y: auto;
	z-index: $zindex-sticky;
	transition: transform 0.3s ease-in-out;
	background-color: $body-bg;

	&.open {
		transform: translateX(0);
	}
}

.ft-main-left {
	left: 0;
	transform: translateX(-100%);
}

.ft-main-right {
	right: 0;
	transform: translateX(100%);
}
