.page-item a {
    @extend .page-link;
}

.table td.pagination {
  border: none;
  padding: 0;
}

.page-item:last-child .page-link, .page-item:last-child a,
.page-item:first-child .page-link, .page-item:first-child a,
.pagination-lg .page-item:last-child .page-link,
.pagination-lg .page-item:last-child a,
.pagination-lg .page-item:first-child .page-link,
.pagination-lg .page-item:first-child a,
.pagination-sm .page-item:last-child .page-link,
.pagination-sm .page-item:last-child a,
.pagination-sm .page-item:first-child .page-link,
.pagination-sm .page-item:first-child a {
    border-radius: 0;
}

.page-item .page-link:last-child, .page-item a:last-child,
.pagination-lg .page-item .page-link:last-child,
.pagination-lg .page-item a:last-child,
.pagination-sm .page-item .page-link:last-child,
.pagination-sm .page-item a:last-child {
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

.page-item .page-link:first-child, .page-item a:first-child,
.pagination-lg .page-item .page-link:first-child,
.pagination-lg .page-item a:first-child,
.pagination-sm .page-item .page-link:first-child,
.pagination-sm .page-item a:first-child {
    border-bottom-left-radius: $border-radius;
    border-top-left-radius: $border-radius;
}

.page-item>b, .page-item>b:hover, .page-item>b:focus {
    @extend .page-link;
    @extend a;
    background-color: $primary;
    border-color: $primary;
}

.page-item:first-child .page-link,
.page-item:first-child a,
.page-item:first-child .page-item > b {
    margin-left: -1px;
}
