// Buttons
.btn {
    margin-bottom: 0.25rem;
}

// Horizontal groups
.ab-btn-group-horizontal > .ab-region-container > .btn-toolbar >.ab-btn-group {
    @extend .btn-group;
}

// Vertical groups
.ab-btn-group-vertical > .ab-region-container > .btn-toolbar > .ab-btn-group {
    @extend .btn-group-vertical;

    & > .btn {
        margin-bottom: 0;
    }
}

/* Sizes */
div.btn-lg, div.btn-sm {
    padding: 0;
}

div.btn-lg .btn{
    @extend .btn-lg;
}
div.btn-sm .btn{
    @extend .btn-sm;
}

// Button Dropdowns
.ab-single-button-dropdown, .ab-split-button-dropdown {
    @include hide();
}

.ab-btn-dropdown, .input-group-btn {
    & > .ab-single-button-dropdown, & > .ab-split-button-dropdown {
        @include show();
    }
}
