/* General rules */
.text_field, .password, .selectlist, .multi_selectlist, textarea.textarea {
    @extend .form-control;
}

fieldset.textarea, fieldset.radio_group, fieldset.checkbox_group, .display_only {
    display: block;
}

.form-inline {
    fieldset.textarea, fieldset.radio_group, fieldset.checkbox_group, .display_only {
        display: inline-block;
    }
}

input.file {
    @extend .form-control-file;
}

// input[type=checkbox], input[type=radio] {
//     margin-right: 5px;
// }

// label {
//     margin-right: 5px;
// }

/* Hidden label */
.ab-input-sr-only label {
    @include sr-only();
}

/* Sizes */
&.ab-form-control-lg {
    .text_field, .password, .selectlist, .multi_selectlist, textarea.textarea {
        @extend .form-control-lg;
    }
}

&.ab-form-control-sm {
    .text_field, .password, .selectlist, .multi_selectlist, textarea.textarea {
        @extend .form-control-sm;
    }
}

/* Item validation */
.form-group.has-success {
    .text_field, .password, .selectlist, .multi_selectlist, textarea.textarea {
        @extend .form-control-success;
    }

    label {
        @extend .form-control-label;
    }
}

.form-group.has-warning {
    .text_field, .password, .selectlist, .multi_selectlist, textarea.textarea {
        @extend .form-control-warning;
    }
    label {
        @extend .form-control-label;
    }
}

.form-group.has-danger {
    .text_field, .password, .selectlist, .multi_selectlist, textarea.textarea {
        @extend .form-control-danger;
    }
    label {
        @extend .form-control-label;
    }
}

/* Custom form */

/* Checkbox */
.custom-form {
  .checkbox_group{
    @extend .c-input;
    @extend .c-checkbox;
    label {
      @extend .c-input;
      &::before {
          content: "";
          @extend .c-indicator;
      }
    }
  }
  .radio_group {
    @extend .c-input;
    @extend .c-radio;
    td {
      @extend .c-input;
    }
    label {
      &::before {
        content: "";
        @extend .c-indicator;
      }
    }
  }
  .selectlist {
    @extend .c-select;
  }
  .file {
    @extend .file-custom;
  }
}

/* Help */
.ab-field-tooltip, .ab-field-popover {
    label {
        text-decoration: underline;
    }
}

/* Input Groups */
.input-group-addon > label {
    @include hide();
}

.form-group > .ab-input-group {
    @extend .input-group;
}
