.report-pagination {
    td, th {
        border-top: 0;
        padding: 0;
        padding-left: 0.2rem;
    }
}

.ab-thead-default thead {
    @extend .thead-default;
}

.ab-thead-inverse thead {
    @extend .thead-inverse;
}

.ab-table-bordered .table {
    @extend .table-bordered;
}

.ab-table-hover .table {
    @extend .table-hover;
}

.ab-table-inverse .table {
    @extend .table-inverse;
}

.ab-table-reflow .table {
    @extend .table-reflow;
}

.ab-table-sm .table {
    @extend .table-sm;
}

.ab-table-striped .table {
    @extend .table-striped;
}
