.ab-navbar-fixed-top {
    .ab-header nav.navbar {
        @extend .navbar-fixed-top;
    }
}

.nav>li>a {
    display: block;
    padding: .25rem .75rem;
    font-size: 90%;
    color: #99979c;
}

.nav>li>a:focus, .nav>li>a:hover {
    color: #0275d8;
    text-decoration: none;
    background-color: transparent;
}

.nav>.active:focus>a, .nav>.active:hover>a, .nav>.active>a {
    font-weight: 500;
    color: #373a3c;
    background-color: transparent;
}

.navbar~.jumbotron {
    margin-bottom: 0;
}

a.dropdown-divider {
    padding: 0;
    @extend .dropdown-divider;
}
