/* General rules */
.text_field, .password, .selectlist, .multi_selectlist, textarea.textarea {
    @extend .form-control;
}

fieldset.textarea, fieldset.radio_group, fieldset.checkbox_group, .display_only {
    display: block;
}

.form-inline {
    fieldset.textarea, fieldset.radio_group, fieldset.checkbox_group, .display_only {
        display: inline-block;
    }
}

input.file {
    @extend .form-control-file;
}

/* Hidden label */
.ab-input-sr-only label {
    @include sr-only();
}

/* Sizes */
.ab-form-control-lg {
    .text_field, .password, .selectlist, .multi_selectlist, textarea.textarea {
        @extend .form-control-lg;
    }
}

.ab-form-control-sm {
    .text_field, .password, .selectlist, .multi_selectlist, textarea.textarea {
        @extend .form-control-sm;
    }
}

/* Checkbox and radios */
input[type=checkbox], input[type=radio] {
    margin-right: 0.5rem;
}

/* Help */
.ab-field-tooltip, .ab-field-popover {
    & > label[data-toggle] {
        text-decoration: underline;
    }
}

/* Input Groups */
.input-group-addon > label {
    @include hide();
}
