.ui-dialog {
    padding: 0;
    .ui-dialog-content {
        padding: 0;
    }
    iframe {
        border: none;
    }
    .ui-widget-header {
        @extend .modal-header;
        background: none;
        border-right: none;
        border-left: none;
        border-top: none;
    }
    .ui-dialog-title {
        @extend .modal-title;
        @extend .h4;
    }
    .ui-dialog-titlebar-close {
        background: none;
        border: none;
        color: #e5e5e5;
        &:before {
            content: "x";
            margin: -5px -16px;
            position: absolute;
            font-weight: bold;
        }
        &:hover {
            color: #ccc;
        }
    }
    button:focus {
        outline: none;
    }
}
.modal-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    .btn+.btn {
        margin-bottom: 0.25rem;
    }
}
.ui-widget {
    font-family: inherit;
}
.modal-body {
    position: absolute;
    width: 100%;
    bottom: 73px;
    top: 0;
    overflow: auto;
}
.ui-state-default .ui-icon {
    background-image: none;
}
